<div class="container">
    <div id="books">
        <div id="book1" class="card">
          <div class="card-header" style="padding: 0px; margin: 0px;">
          </div>
          <img src="assets/biography/1.jpg" style="width: 240px; height: 260px;">
           <a href="../../assets/pdf/FOM NOTES.pdf"class="btn btn-primary">Download</a>
          </div>
        
<div id="book1" class="card">
                <div class="card-header" style="padding: 0px; margin: 0px;">
                </div>
                <img src="assets/biography/2.jpg" style="width: 240px; height: 260px;">
                 <a href="../../assets/pdf/FOM NOTES.pdf"class="btn btn-primary">Download</a>
                </div>        
                
  <div id="book1" class="card">
                      <div class="card-header" style="padding: 0px; margin: 0px;">
                      </div>
                      <img src="assets/biography/3.jpg" style="width: 240px; height: 260px;">
                       <a href="../../assets/pdf/FOM NOTES.pdf"class="btn btn-primary">Download</a>
                      </div>
                      
    <div id="book1" class="card">
                            <div class="card-header" style="padding: 0px; margin: 0px;">
                            </div>
                            <img src="assets/biography/4.jpg" style="width: 240px; height: 260px;">
                             <a href="../../assets/pdf/FOM NOTES.pdf"class="btn btn-primary">Download</a>
                            </div>
      <div id="book1" class="card">
                                <div class="card-header" style="padding: 0px; margin: 0px;">
                                </div>
                                <img src="assets/biography/5.jpg" style="width: 240px; height: 260px;">
                                 <a href="../../assets/pdf/FOM NOTES.pdf"class="btn btn-primary">Download</a>
                                </div>
        <div id="book1" class="card">
                                    <div class="card-header" style="padding: 0px; margin: 0px;">
                                    </div>
                                    <img src="assets/biography/6.jpg" style="width: 240px; height: 260px;">
                                     <a href="../../assets/pdf/FOM NOTES.pdf"class="btn btn-primary">Download</a>
                                    </div>
          <div id="book1" class="card">
                                        <div class="card-header" style="padding: 0px; margin: 0px;">
                                        </div>
                                        <img src="assets/biography/7.jpg" style="width: 240px; height: 260px;">
                                         <a href="../../assets/pdf/FOM NOTES.pdf"class="btn btn-primary">Download</a>
                                        </div>
         <div id="book1" class="card">
                                            <div class="card-header" style="padding: 0px; margin: 0px;">
                                            </div>
                                            <img src="assets/biography/8.jpg" style="width: 240px; height: 260px;">
                                             <a href="../../assets/pdf/FOM NOTES.pdf"class="btn btn-primary">Download</a>
                                            </div>
        <div id="book1" class="card">
                                                <div class="card-header" style="padding: 0px; margin: 0px;">
                                                </div>
                                                <img src="assets/biography/9.jpg" style="width: 240px; height: 260px;">
                                                 <a href="../../assets/pdf/FOM NOTES.pdf"class="btn btn-primary">Download</a>
                                                </div>