<div id="about">
<h1>About The Library</h1>
<h2 style="color: #5f9ea0; padding-left: 200px;">Mission of The online Library</h2>
<h3>We believe that:</h3>

<p> to adequate library services and resources is essential for the attainment of superior academic skills in post-secondary education, regardless of where students, faculty, and programs are located.
Members of the distance learning community are entitled to library services and resources equivalent to those provided for students and faculty in traditional campus settings.
ACRL Guidelines for Distance Learning Library Service</p>
<h3>Key Resorces And services</h3>
<p>
        Databases which contain journals, book reviews, e-books,<br> newspapers and magazines, conference proceedings etc.
        E-books (Dawson's Era) which contains electronic textbooks<br>
        Document Supply Services (ILL) from the British Library (BL)<br>
        Resource Discovery Tools (Summon, Journals Finder, A-Z List)<br>
        An enquiry service staffed by professional librarians<br>
        The Library also plays a key role in information Literacy training
</p>
<h3>Eligibility for services</h3>
<p>
        To use the services, you must be enrolled with the University's of London distance learning programmes or a member of staff involved in delivering and supporting the distance learning programmes and directly employed by the University of London.

        To access all the Online Library’s resources, you must have an Athens username and password as well as a and Portal (Shibboleth) username and password. To give the Online Library the necessary details to register you for an Athens account, click here.
</p><h2>
The Online Library Team</h2><p>
The Online Library is staffed by a team of professional and qualified librarians.  You can contact us at onlinelibrary@london.ac.uk or by telephone on +44 (0)20 7862 8478. You can also use the web-form.

We look forward to welcoming you all to the Online Library!

Dr Sandra Tury (Associate Director-Online Library Services)</p>
<h4>
About the Library<br>
Services<br>
Hot Topics<br>
Site map<br>
Accessibility<br>
Copyright Statement<br>
Privacy<br>
Contact Us</h4>


</div>