#view{
    width: 1030px;
    height: 800px;
}
#books{
    width: 980px;
    height: 800px;

}
#book1{
    width: 240px;
    height: 300px;
    float: left;
}
#book2{
    width: 250px;
    height: 300px;
    float: left;
}
#book3{
    width: 250px;
    height: 300px;
    float: left;
}
#book4{
    width: 240px;
    height: 300px;
    float: left;
}
#book5{
    width: 240px;
    height: 300px;
    float: left;
}
#book6{
    width: 250px;
    height: 300px;
    float: left;
}
#book7{
    width: 250px;
    height: 300px;
    float: left;
}
#book8{
    width: 240px;
    height: 300px;
    float: left;
}
#book9{
    width: 240px;
    height: 300px;
    float: left;
}
#book10{
    width: 250px;
    height: 300px;
    float: left;
}
#book11{
    width: 250px;
    height: 300px;
    float: left;
}
#book12{
    width: 240px;
    height: 300px;
    float: left;
}