
         <div id="view">
 
                  <div id="books">
                    <div id="book1" class="card">
                      <div class="card-header" style="padding: 0px; margin: 0px;">
                      </div>
                      <img src="assets/images/twilight.jpg" style="width: 240px; height: 260px;">
                       <a href="../../assets/pdf/FOM NOTES.pdf"class="btn btn-primary">Download</a>
                      </div>
                      <div id="book2" class="card">
                          <div class="card-header" style="padding: 0px; margin: 0px;">
                            </div>
                            <img src="assets/images/twilight new moon.jpg" style="width: 250px; height: 260px;">
                             <a href="../../assets/pdf/FOM NOTES.pdf" class="btn btn-primary">Download</a>
          
                      </div>
                      <div id="book3" class="card">
                          <div class="card-header" style="padding: 0px; margin: 0px">
                            </div>
                            <img src="assets/images/till the last reath.jpg" style="width: 248px; height: 260px;">
                             <a href="../../assets/pdf/FOM NOTES.pdf" class="btn btn-primary">Download</a>
          
                      </div>
                      <div id="book4" class="card">
                          <div class="card-header" style="padding: 0px; margin: 0px;">
                            </div>
                            <img src="assets/images/revolutio 2020.jpg" style="width: 240px; height: 260px;">
                            <a href="../../assets/pdf/FOM NOTES.pdf" class="btn btn-primary">Download</a>
          
                      </div>
      
                      <div id="book5" class="card">
                          <div class="card-header" style="padding: 0px; margin: 0px;">
                          </div>
                          <img src="assets/images/book2.jpg" style="width: 240px; height: 260px;">
                          <a href="../../assets/pdf/FOM NOTES.pdf" class="btn btn-primary">Download</a>
                          </div>
                          <div id="book6" class="card">
                              <div class="card-header" style="padding: 0px; margin: 0px;">
                                </div>
                                <img src="assets/images/book1.jpg" style="width: 250px; height: 260px;">
                                <a href="../../assets/pdf/FOM NOTES.pdf" class="btn btn-primary">Download</a>
              
                          </div>
                          <div id="book7" class="card">
                              <div class="card-header" style="padding: 0px; margin: 0px">
                                </div>
                                <img src="assets/images/511wMMedbhL._SX327_BO1,204,203,200_.jpg" style="width: 248px; height: 260px;">
                                <a href="../../assets/pdf/FOM NOTES.pdf" class="btn btn-primary">Download</a>
              
                          </div>
                          <div id="book8" class="card">
                              <div class="card-header" style="padding: 0px; margin: 0px;">
                                </div>
                                <img src="assets/images/3_Mistakes_of_My_Life.jpg" style="width: 240px; height: 260px;">
                                <a href="#" class="btn btn-primary">Download</a>
              
                          </div>
                          <div id="book9" class="card">
                            <div class="card-header" style="padding: 0px; margin: 0px;">
                            </div>
                            <img src="assets/images/book2.jpg" style="width: 240px; height: 260px;">
                            <a href="#" class="btn btn-primary">Download</a>
                            </div>
                            <div id="book10" class="card">
                                <div class="card-header" style="padding: 0px; margin: 0px;">
                                  </div>
                                  <img src="assets/images/book1.jpg" style="width: 250px; height: 260px;">
                                  <a href="#" class="btn btn-primary">Download</a>
                
                            </div>
                            <div id="book11" class="card">
                                <div class="card-header" style="padding: 0px; margin: 0px">
                                  </div>
                                  <img src="assets/images/511wMMedbhL._SX327_BO1,204,203,200_.jpg" style="width: 248px; height: 260px;">
                                  <a href="#" class="btn btn-primary">Download</a>
                
                            </div>
                            <div id="book12" class="card">
                                <div class="card-header" style="padding: 0px; margin: 0px;">
                                  </div>
                                  <img src="assets/images/3_Mistakes_of_My_Life.jpg" style="width: 240px; height: 260px;">
                                  <a href="#" class="btn btn-primary">Download</a>
                
                            </div>
                
              
          
                  </div>
    